__pycache__
*.egg-info
secrets.py
dist
build
test.py
/urls.txt
*.flac
/Downloads
/StreamripDownloads
*.mp3
StreamripDownloads
*.wav
*.log
*.mp4
*.opus
*.mkv
*.aac
*.pyc
*test.py
/.mypy_cache
.DS_Store
pyrightconfig.json
.vscode
