name: Upload Streamrip to pypi
on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build and publish to pypi
      uses: JRubics/poetry-publish@v1.6
      with:
        pypi_token: ${{ secrets.PYPI_TOKEN }}
